body{
    font-family: 'Oswald', sans-serif;
}
.blue-highlight{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}